%div{:class => "#{cookies.signed['user.id'] == message.user.id ? 'right-card' : 'left-card'}"}
  .card-block
    .card-text
      %span.date-text-muted
        = message.user.name
        at #{message.timestamp} says
        %br/
      = message.body
