<div class="card">
  <div class="card-block">
    <div class="card-text">
      <span class="date-text-muted"><%= message.user.name %> at <%= message.timestamp %> says<br></span>
      <%= message.body %>
    </div>
  </div>
</div>
