- content_for :page_title do
  \- reset password

%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .col-xs-12.col-sm-6.offset-sm-3.col-md-4.offset-md-4.text-xs-center
    = devise_error_messages!
    .form-group
      = f.email_field :email, placeholder: 'Email', class: 'form-control'
    .form-group
      = f.submit "Send me reset password instructions", class: 'btn btn-sm btn-primary'

