@import "bootstrap";
@import "shared/variables";
@import "shared/extends";
@import "chat/messages";

// Changes in bootstrap
.btn-primary {
  background-color: $primary-color;
}

// Chat List
#all_chat_rooms_button, #my_chat_rooms_button {
  @extend .btn, .btn-success, .btn-sm;
  float: right;
  line-height: 20px;
  margin: 12px 10px;
}

// Top menu
.top-menu {
  @extend .navbar, .navbar-dark, .bg-primary;
  border-radius: 0;
  box-shadow: 0 10px 20px -10px #000;

  .top-nav-link {
    color: #FFF;
    display: block;
    padding-top: .425rem;
    padding-bottom: .425rem;

    &:active, &:focus, &:hover {
      color: #FFF;
      text-decoration: none;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }
  }

  .search-form-inline {
    @extend .form-inline, .pull-xs-right;
    padding: 5px 20px;
  }
}

// Layout
.page-content {
  @extend .container;
  margin-top: 25px;
  box-shadow: 0 0px 20px -5px #000;
  padding: 10px;

  @include media-breakpoint-down(sm) {
    width: 95%;
  }
}

// Devise forms
#new_user {
  & input[type="email"], & input[type="password"], & input:-webkit-autofill {
    @extend %middle-inputs;
  }
}
